/****** BASE STYLE - WHOLE PAGE ******/
body {
	background-color: #f2f1f5;
	line-height: 1;
	margin: 0;
	padding: 0;
}

/****** HEADER STYLES ******/
header, nav, footer {
	display: block;
}
li {
	margin-bottom: 0;
}
nav a {
	color: #666666;
}
footer{
	margin-bottom: 30px;
}
footer p {
	margin-bottom: 15px;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 0;

}

.row::after {
	display: table;
	clear: both;
	content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 { width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/******** NAVBAR DISPLAY **********/
nav {
	position: fixed;
  top: 0;
	width: 100%;
	margin: 0;
}

nav ul {
	background-color: #f2f1f5;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

ul.topnav li {
	list-style: none;
	float: left;
	font-size: 24px;
}

ul.topnav li.topnav-right {
	float: right;
}

ul.topnav li a {
	display: block;
	text-decoration: none;
	min-height: 16px;
	text-align: center;
	padding: 14px;
	text-transform: uppercase;
}

ul.topnav li:hover a {
	background-color: #666666;
	color: #f2f1f5;
}

ul.topnav li.hamburgerIcon {
	display: none;
}

/* SAMPLE DROPDOWN MENU SECTION */
nav ul li:hover > ul{
	display: block;
}
nav ul li{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
nav ul li a : hover {
  display: block;
  padding: 30px 20px;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul ul{
  display: none;
  position: absolute;
  top: 100%;
}

nav ul ul li {
	float: none; position: relative;
}

nav ul ul li a {
  padding: 15px 30px;
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top:0;
}

/**MOBILE STYLES** MEDIA QUERY**/

@media only screen and (max-width: 580px){
	ul.topnav li.topnav-right {
		display: none;
}
	ul.topnav li.hamburgerIcon {
		display: block;
		float: right;
	}

	ul.topnav.responsive li.hamburgerIcon {
		position: absolute;
		top: 0;
		right: 0;
	}

/***MAY NEED CHANGES IN LIST ITEMS HERE TO BLOCK DISPLAY SUBLINKS IN CORRECT PLACES***/
	ul.topnav.responsive {
		position: relative;
		/* position: fixed; 	EXPERIMENTING WITH CHANGES TO ATTRIBUTES FOR DROPDOWN*/
	}

	ul.topnav.responsive li {
		display: inline;
		float: none;
	}

	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}
/**/
	.col-6 {
		width: 100%;
		margin: 0;
	}

	.leftSide-col,
	.rightSide-col {
		align-items: center;
	}
}

.rightSide-col {
	float: right;
}

h2.large {
	color: #666666;
	font-size: 30px;
}

.about {
	margin: 50px 10px;
}

.slideShow {
  width: 100%;
  background: cover;
}

/****WHITESPACE****/
.image{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  padding: 0px;
}
.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
	width:98%;
	border:0;
}
#whitespace {
	background-color: #f9f9f9;
	padding: 25px;
}
/* CONTACT US PAGE */

.formSpacing {
	padding: 5%;
}

.formSizing {
	padding:0 40%;
}

/****GENERAL ATTRIBUTES****/
h1.intro {
	color: #666666;
	font-size: 40px;
}

.introP {
	color: #666666;
	font-size: 20px;
	margin-bottom: 0;
}
.samples {
	width: 100%;
	margin: auto;
}

.blogP {
	color: #666666;
	font-size: 25px;
	text-align: center;
}

.footer {
  text-align: center;
}
